JOB leehom leehom_paired.submit
VARS leehom RUN="${run}"
SCRIPT POST leehom check3Outputs.sh ${run}_leehom.fq.gz ${run}_leehom_r1.fq.gz ${run}_leehom_r2.fq.gz 10M

JOB bwa bwaALN.submit
VARS bwa RUN="${run}"
VARS bwa REF="${ref}"
SCRIPT POST bwa check3Outputs.sh ${run}_merged_TN.sai ${run}_r1_TN.sai ${run}_r2_TN.sai 10M ${run}_1.fastq ${run}_2.fastq

JOB bwa_samse bwa_samse.submit
VARS bwa_samse RUN="${run}"
VARS bwa_samse REF="${ref}"
SCRIPT POST bwa_samse check3Outputs_removeInter.sh ${run}_merged_TN.sam ${run}_r1_TN.sam ${run}_r2_TN.sam 10M ${run}_merged_TN.sai ${run}_r1_TN.sai ${run}_r2_TN.sai

JOB view samtools_view.submit
VARS view RUN="${run}"
SCRIPT POST view check3Outputs_removeInter.sh ${run}_merged_TN.bam ${run}_r1_TN.bam ${run}_r2_TN.bam 10M ${run}_merged_TN.sam ${run}_r1_TN.sam ${run}_r2_TN.sam

JOB sort samtools_sort.submit
VARS sort RUN="${run}"
SCRIPT POST sort check3Outputs_removeInter.sh ${run}_merged_sort_TN.bam ${run}_r1_sort_TN.bam ${run}_r2_sort_TN.bam 10M ${run}_merged_TN.bam ${run}_r1_TN.bam ${run}_r2_TN.bam

JOB mapdamage mapdamage.submit
VARS mapdamage RUN="${run}"
VARS mapdamage REF="${ref}"

JOB merge samtools_merge.submit
VARS merge RUN="${run}"
SCRIPT POST merge checkOutput.sh ${run}_allReads_TN.bam 10M

JOB picard picard.submit
VARS picard RUN="${run}"
VARS picard LIBRARY="${lib}"
VARS picard PLATFORM="${platform}"
VARS picard SAMPLE="${sample}"
SCRIPT POST picard checkOutput.sh ${run}.ready.bam 10M

JOB gatk gatk.submit
VARS gatk RUN="${run}"
VARS gatk REF="${ref}"
SCRIPT POST gatk checkOutput_removeIntermediates.sh ${run}.realn.bam 10M ${run}.ready.bam

JOB vcf_pilon vcf_pilon.submit
VARS vcf_pilon RUN="${run}"
VARS vcf_pilon REF="${ref}"
SCRIPT POST vcf_pilon checkOutput_removeIntermediates.sh ${run}_pilon.vcf 10M ${run}.dedup.bam ${run}_pilon.fasta

JOB bamqc bamqc.submit
VARS bamqc RUN="${run}"

JOB fasta_pilon pilon_fasta.submit
VARS fasta_pilon RUN="${run}"


PARENT leehom CHILD bwa
PARENT bwa CHILD bwa_samse
PARENT bwa_samse CHILD view
PARENT view CHILD sort
PARENT sort CHILD merge
PARENT merge CHILD picard
PARENT picard CHILD gatk
PARENT gatk CHILD vcf_pilon
PARENT vcf_pilon CHILD bamqc fasta_pilon